.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 64px;
    line-height: 80px;
    margin-top: 40px;
    font-weight: 700;
    color: rgb(211, 47, 47);
  }

  &__text {
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    margin-top: 40px;
    font-weight: 700;
    color: rgb(211, 47, 47);
    margin: 0;
    margin-bottom: 40px;
  }

  &__button {
    height: 100%;
    width: 300px;
    padding: 10px 15px;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(25, 118, 210, 0.03);
    color: rgb(211, 47, 47);
    font-size: 24px;
    line-height: 36px;

    &:hover {
      background-color: rgba(25, 118, 210, 0.08);
      border: 1px solid rgba(25, 118, 210, 0.592);
    }
  }
}