.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  position: absolute;
  height: 60px;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);

  &__txt {
    font-size: 24px;
    line-height: 36px;
    color: #444950;
    font-weight: 700;
  }

  &__animation {
    width: 40px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side, #444950 90%, #0000) 0 /
      calc(100% / 3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }

  @keyframes l1 {
    to {
      clip-path: inset(0 -34% 0 0);
    }
  }
}
