.main {
  &__title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    color: rgb(25, 118, 210);
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &-last {
      color: rgb(46, 125, 50);
    }
  }

  &__txt {
    font-size: 24px;
    line-height: 36px;
  }

  &__error {
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
  }

  &__button {
    height: 100%;
    width: 300px;
    padding: 10px 15px;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(25, 118, 210, 0.03);
    color: rgb(25, 118, 210);
    font-size: 24px;
    line-height: 36px;
    margin-top: 40px;

    &:hover {
      background-color: rgba(25, 118, 210, 0.08);
      border: 1px solid rgba(25, 118, 210, 0.592);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__item {
    width: 500px;
    position: relative;
  }

  &__label {
    display: inline-block;
    width: 30%;
    padding: 10px 15px;
    color: rgb(25, 118, 210);
    font-size: 16px;
    line-height: 20px;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-collapse: collapse;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__input {
    width: 70%;
    padding: 10px 15px;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-collapse: collapse;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 16px;
    line-height: 20px;

    &:focus-visible,
    &:active {
      border: 1px solid #444950;
      outline: none;
    }
  }

  &__button {
    height: 100%;
    width: 500px;
    padding: 10px 15px;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(25, 118, 210, 0.03);
    color: rgb(25, 118, 210);
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px;

    &:hover {
      background-color: rgba(25, 118, 210, 0.08);
      border: 1px solid rgba(25, 118, 210, 0.592);
    }
  }

  &__error {
    padding: 10px 15px;
    color: rgb(211, 47, 47);
    font-size: 16px;
    line-height: 20px;
    position: absolute;
  }

  &-disabled {
    cursor: auto;
    color: #444950;
    background-color: #d5dbe4;
    border: 1px solid #444950;

    &:hover {
      background-color: #d5dbe4;
      border: 1px solid #444950;
    }
  }
}