.search {
  width: 100%;
  max-width: 600px;
  height: 60px;
  margin-top: 40px;

  &__title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    color: rgb(25, 118, 210);
  }

  &__input {
    height: 100%;
    width: 70%;
    padding: 10px 15px;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-collapse: collapse;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &:focus-visible,
    &:active {
      border: 1px solid #444950;
      outline: none;
    }
  }

  &__button {
    height: 100%;
    width: 30%;
    padding: 10px 15px;
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-collapse: collapse;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    background-color: rgba(25, 118, 210, 0.03);
    color: rgb(25, 118, 210);

    &:hover {
      background-color: rgba(25, 118, 210, 0.08);
      border: 1px solid rgba(25, 118, 210, 0.592);
    }
  }
}
